<div th:fragment="footer">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <img class="mb-2" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
                <small class="d-block mb-3 text-muted">© 2015-2020</small>
            </div>
            <div class="col-6 col-md">
                <h5>Наши преимущества</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Высококвалифицированные мастера</a></li>
                    <li><a class="text-muted" href="#">Индивидуальный подход</a></li>
                    <li><a class="text-muted" href="#">Удобное местоположение</a></li>
                    <li><a class="text-muted" href="#">Выгодные цены</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Достижения</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Выпускной</a></li>
                    <li><a class="text-muted" href="#">Корпоративные мероприятия</a></li>
                    <li><a class="text-muted" href="#">Вечерний образ</a></li>
                    <li><a class="text-muted" href="#">Индивидуальный стиль</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>О нас</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Миссия</a></li>
                    <li><a class="text-muted" href="#">Наши мастера</a></li>
                    <li><a class="text-muted" href="#">Контакты</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>
